<a href="https://colab.research.google.com/github/anggunflaa/Anggun/blob/main/Anggun_perulangan_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
listKota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jogjakarta', 'Semarang', 'Makassar'
]

for kota in listKota:
  print(kota)

Jakarta
Surabaya
Depok
Bekasi
Solo
Jogjakarta
Semarang
Makassar

In [6]:
listKota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jogjakarta', 'Semarang', 'Makassar'
]

for i, kota in enumerate(listKota):
  print(i, kota)

0 Jakarta
1 Surabaya
2 Depok
3 Bekasi
4 Solo
5 Jogjakarta
6 Semarang
7 Makassar

In [7]:
## 0 sampai 4
for i in range(5):
  print("Perulangan ke -", i)

Perulangan ke - 0
Perulangan ke - 1
Perulangan ke - 2
Perulangan ke - 3
Perulangan ke - 4

In [8]:
## 10 sampai 15
for i in range(10, 16):
  print('i =', i)

i = 10
i = 11
i = 12
i = 13
i = 14
i = 15

In [9]:
## Bilangan genap kelipatan 2
for i in range(2, 12, 2):
  print('i =', i)

i = 2
i = 4
i = 6
i = 8
i = 10

In [10]:
## Bilangan ganjil kelipatan 2
for bilangan_ganjil in range(1, 12, 2):
  print(bilangan_ganjil)

1
3
5
7
9
11

In [12]:
tupleBuah = ('Mangga', 'Jeruk', 'Apel', 'Pepaya')

for buah in tupleBuah:
  print(buah)

Mangga
Jeruk
Apel
Pepaya

In [13]:
for karakter in "IndonesiaID":
  print(karakter)

I
n
d
o
n
e
s
i
a
I
D

In [17]:
for i in range(10, 20):
  # skip jika i == 15
  if (i == 15):
   continue

  print(i)

10
11
12
13
14
16
17
18
19

In [18]:
for i in range(10, 20):
  # hentikan jika i == 15
  if (i == 15):
    break

  print(i)

10
11
12
13
14

In [19]:
listKota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jogjakarta', 'Semarang', 'Makassar'
]

for kota in listKota:
  print(kota)
else:
  print('Tidak ada lagi item yang tersedia')

Jakarta
Surabaya
Depok
Bekasi
Solo
Jogjakarta
Semarang
Makassar
Tidak ada lagi item yang tersedia

In [22]:
listKota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jogjakarta', 'Semarang', 'Makassar'
]

kotaYangDicari = input('Ketik nama kota yang kamu cari: ')

for i, kota in enumerate(listKota):
  # kita ubah katanya ke lowercase agar
  # menjadi case insensitive
  if kota.lower() == kotaYangDicari.lower():
    print('Kota yang anda cari berada pada indeks', i)
    break
else:
    print('Maaf, kota yang anda cari tidak ada')

Ketik nama kota yang kamu cari: Muntok
Maaf, kota yang anda cari tidak ada